.event {
  display: inline-block;

  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 20%;
  height: 1px;

  position: relative;
  padding-bottom: 16.25%;
}

/* .HoverVideoPlayer {
  height: 18vh;
  width: 100%;
} */

.hoverDiv:hover > .info {
  color: red;
}

.img {
  position: relative;
  width: 100%;
  height: 90%;
  /* border: 3px solid #73ad21; */
}

.categoryDiv {
  width: 30%;
  float: right;
  display: table;
  /* display table for category label stay in right that not over size */
}

.info {
  font-size: 1.25vw;
  width: 100%;
  /* font-family: "Roboto", "Arial", sans-serif; */

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playIconContainer {
  width: 100%;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 5%;
  /* left: 1%; */
  width: 100%;
  height: 20%;
  /* div color */
  background-color: rgba(78, 72, 64, 0.332);
  /* background-color: black; */

  border-radius: 0 0 3px 3px;
}

.playIconDiv {
  float: left;
  width: 50%;
  bottom: 80%;
  height: 30%;
  position: absolute;
  left: 1%;
}
.playIconDivB {
  float: left;
  width: 97%;
  margin: 0;

  bottom: 55%;
  height: 30%;
  position: absolute;
}

.playIconDivC {
  float: right;
  width: 72%;
  margin: 0;

  bottom: 55%;
  height: 30%;
  position: absolute;
}

.playIconDivD {
  float: right;
  width: 55%;
  margin: 0;

  bottom: 45%;
  height: 30%;
  position: absolute;
}
/* pageviewcount */
.playIconDivE {
  float: right;
  width: 35%;
  margin: 0;

  bottom: 55%;
  height: 30%;
  position: absolute;

  left: 13%;
}

.playIconDivF {
  float: right;
  width: 10%;
  margin: 0;

  bottom: 45%;
  height: 30%;
  position: absolute;
}

/* ---Must add span.XXX CSS For Google Material ICON (when next build is work)------- */
span.playIcon {
  height: 100%;
  bottom: 10%;
  left: 10%;
  font-size: 1.1vw;
  z-index: 20;

  color: white;
  float: right;
  z-index: 20;
  color: white;
  /* background-color: rgba(128, 107, 107, 0.782); */
  border-radius: 3px;
}
.viewsData {
  /* position: absolute;
  top: 10px; */

  font-size: 1.2vw;
  z-index: 20;

  color: white;
}

.classForFloatRight {
  float: right;
}

.timeDuration {
  float: right;
  font-size: 1.1vw;
  z-index: 20;
  color: white;
  /* background-color: rgba(128, 107, 107, 0.782); */
  border-radius: 3px;
}

.pageViewCountText {
  float: left;
  font-size: 1.1vw;
  z-index: 20;
  color: white;
  /* background-color: rgba(128, 107, 107, 0.782); */
  border-radius: 3px;
}

@media only screen and (max-width: 900px) {
  .event {
    display: inline-block;
    /* flex-direction: column; */
    text-align: left;
    width: 33%;
    white-space: nowrap;
    position: relative;
    padding-bottom: 30.25%;
  }

  .info {
    color: white;

    font-size: 2.5vw;
  }

  span.playIcon {
    width: 10%;
    height: 1%;
    top: 0;
    left: 10%;
    /* font-size: 5vw; */
    z-index: 20;

    color: white;
    float: right;
    font-size: 1.9vw;
    z-index: 20;
    color: white;
    /* background-color: rgba(128, 107, 107, 0.782); */
    border-radius: 3px;
  }
  .playIconContainer {
    width: 100%;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 5%;
    /* left: 1%; */
    width: 100%;
    height: 20%;
    /* div color */
    background-color: rgba(78, 72, 64, 0.332);
    /* background-color: black; */

    border-radius: 0 0 3px 3px;
  }

  .playIconDivB {
    float: left;
    width: 97%;
    margin: 0;

    bottom: 55%;
    height: 30%;
    position: absolute;
  }

  .playIconDivC {
    float: right;
    width: 75%;
    margin: 0;

    bottom: 55%;
    height: 30%;
    position: absolute;
  }

  .playIconDivD {
    float: right;
    width: 55%;
    margin: 0;

    bottom: 45%;
    height: 30%;
    position: absolute;
  }

  .playIconDivE {
    float: right;
    width: 30%;
    margin: 0;

    bottom: 55%;
    height: 30%;
    position: absolute;

    left: 15%;
  }

  .playIconDivF {
    float: right;
    width: 7%;
    margin: 0;

    bottom: 45%;
    height: 30%;
    position: absolute;
  }

  .timeDuration {
    float: right;
    font-size: 2vw;
    z-index: 20;
    color: white;
    /* background-color: rgba(128, 107, 107, 0.782); */
    border-radius: 3px;
  }
  .pageViewCountText {
    float: left;
    font-size: 2vw;
    z-index: 20;
    color: white;
    /* background-color: rgba(128, 107, 107, 0.782); */
    border-radius: 3px;
  }
}

@media only screen and (max-width: 500px) {
  .event {
    display: inline-block;
    /* flex-direction: column; */
    text-align: left;
    width: 50%;
    white-space: nowrap;
    position: relative;
    padding-bottom: 46.25%;
  }

  .info {
    color: white;

    font-size: 2.5vw;
  }

  span.playIcon {
    width: 10%;
    height: 1%;
    top: 0;
    left: 10%;
    z-index: 20;

    color: white;
    float: right;
    font-size: 3vw;
    z-index: 20;
    color: white;
    /* background-color: rgba(128, 107, 107, 0.782); */
    border-radius: 3px;
  }
  .playIconContainer {
    width: 100%;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 7%;
    /* left: 1%; */
    width: 100%;
    height: 20%;
    /* div color */
    background-color: rgba(78, 72, 64, 0.332);
    /* background-color: black; */

    border-radius: 0 0 3px 3px;
  }

  .playIconDivB {
    float: left;
    width: 97%;
    margin: 0;

    bottom: 55%;
    height: 30%;
    position: absolute;
  }

  .playIconDivC {
    float: right;
    width: 70%;
    margin: 0;

    bottom: 55%;
    height: 30%;
    position: absolute;
  }

  .playIconDivD {
    float: right;
    width: 50%;
    margin: 0;

    bottom: 45%;
    height: 30%;
    position: absolute;
  }

  .playIconDivE {
    float: right;
    width: 30%;
    margin: 0;

    bottom: 55%;
    height: 30%;
    position: absolute;

    left: 15%;
  }

  .playIconDivF {
    float: right;
    width: 7%;
    margin: 0;

    bottom: 45%;
    height: 30%;
    position: absolute;
  }

  .timeDuration {
    float: right;
    font-size: 3vw;
    z-index: 20;
    color: white;
    /* background-color: rgba(128, 107, 107, 0.782); */
    border-radius: 3px;
  }
  .pageViewCountText {
    float: left;
    font-size: 3vw;
    z-index: 20;
    color: white;
    /* background-color: rgba(128, 107, 107, 0.782); */
    border-radius: 3px;
  }
  .categoryDiv {
    width: 40%;
    float: right;
  }
}
